In [3]:
import pandas as pd 
from pandas import json_normalize

url = pd.read_json("https://storage.googleapis.com/kagglesdsdata/datasets/4259159/7701082/palestinian_movies.json?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20250122%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250122T195704Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=770b54c7aefc24eecb1ff1376c6a7e921e98424dade9b726319aed8239763511c3a918507d9d369b16ea11d18e3ac7b5d94951852b1692483cb214debba7e03550485dde518b3d23d24324e7703fc95a85ab1e2bb80d9ab36e8ef68027753abceb58f7d17afa62eaae8d3f173f65aca160ec55b8808faf67ab572ff89c706878ded41367e8c64b2b2af87784f4d7b545497cfe4d0bc7ff36073c6d0e386cc31fc6c6e360ac0884c292bdc77ae860e03bb66046e54e71fcdfc6724fc866c6decc30bbfc48476da94c102dcd2c7d70a0571beee989d1c9bd5585210ddd00f98586b641aff151d2d6df2d9a03a379ff3444112c20212ded7f09726b04ba7f3da967")
df = json_normalize(
    url['movies'],
    sep='_',  # Separador para los nombres de las columnas anidadas
    record_path=None,  # No hay listas de registros en este caso
    meta=[
        'id',
        ['titleText', 'text'],
        ['primaryImage', 'url'],
        ['primaryImage', 'caption', 'plainText'],
        ['releaseDate', 'day'],
        ['releaseDate', 'month'],
        ['releaseDate', 'year'],
        ['releaseDate', 'country', 'text'],
        ['plot', 'plotText', 'plainText'],
    ]
)

In [4]:
df.head()

,id,titleText_text,primaryImage_id,primaryImage_width,primaryImage_height,primaryImage_url,primaryImage_caption_plainText,releaseDate_day,releaseDate_month,releaseDate_year,releaseDate_country_id,releaseDate_country_text,plot_plotText_plainText,plot_language_id
0,tt0109996,Curfew,rm777481472,315,420,https://m.media-amazon.com/images/M/MV5BZWJhOD...,Curfew (1994),5.0,12.0,1994,US,United States,24 hours of family drama during a curfew annou...,en-US
1,tt0111354,Hikayatul jawahiri thalath,rm4037123328,284,475,https://m.media-amazon.com/images/M/MV5BMTk5MT...,Hikayatul jawahiri thalath (1995),6.0,12.0,1995,FR,France,A Palestinian boy becomes entranced with a bea...,en-US
2,tt3132086,Giraffada,rm2021999616,950,1344,https://m.media-amazon.com/images/M/MV5BNDRiNj...,Ahmad Bayatra in Giraffada (2013),23.0,4.0,2014,FR,France,A male giraffe dies after a nocturnal air raid...,en-US
3,tt11692148,Gaza mon amour,rm2123225857,1080,1617,https://m.media-amazon.com/images/M/MV5BOGViND...,Gaza mon amour (2020),5.0,11.0,2021,US,United States,"Gaza, today. Sixty-year-old fisherman Issa is ...",en-US
4,tt11555492,Farha,rm2816411393,4000,5684,https://m.media-amazon.com/images/M/MV5BM2NiMD...,Karam Taher and Ashraf Barhom in Farha (2021),1.0,12.0,2022,US,United States,A 14-year-old girl in 1948 Palestine watches f...,en-US

In [5]:
df.to_csv('tarea.csv', index=False)

In [6]:
df.tail()

,id,titleText_text,primaryImage_id,primaryImage_width,primaryImage_height,primaryImage_url,primaryImage_caption_plainText,releaseDate_day,releaseDate_month,releaseDate_year,releaseDate_country_id,releaseDate_country_text,plot_plotText_plainText,plot_language_id
35,tt0282864,Promises,rm2189663488,352,500,https://m.media-amazon.com/images/M/MV5BMTM4OD...,Promises (2001),20.0,12.0,2001,NL,Netherlands,Several Jewish and Palestinian children are fo...,en-US
36,tt11692148,Gaza mon amour,rm2123225857,1080,1617,https://m.media-amazon.com/images/M/MV5BOGViND...,Gaza mon amour (2020),5.0,11.0,2021,US,United States,"Gaza, today. Sixty-year-old fisherman Issa is ...",en-US
37,tt6141880,Ambulance,rm448135936,1786,2500,https://m.media-amazon.com/images/M/MV5BOTI1Mz...,Ambulance (2016),7.0,6.0,2017,US,United States,"During the summer of 2014, Mohamed Jabaly join...",en-US
38,tt1112866,To See If I'm Smiling,rm3591978752,245,373,https://m.media-amazon.com/images/M/MV5BNTkxMT...,To See If I'm Smiling (2007),NaN,NaN,2007,IL,Israel,Six Israeli soldiers recount their military se...,en-US
39,tt5278914,The Settlers,rm556085760,2013,2948,https://m.media-amazon.com/images/M/MV5BYTRiOT...,The Settlers (2016),16.0,6.0,2016,IL,Israel,An intimate look at life inside the Jewish set...,en-US

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              40 non-null     object
 1   titleText_text                  40 non-null     object
 2   primaryImage_id                 40 non-null     object
 3   primaryImage_width              40 non-null     int64
 4   primaryImage_height             40 non-null     int64
 5   primaryImage_url                40 non-null     object
 6   primaryImage_caption_plainText  40 non-null     object
 7   releaseDate_day                 33 non-null     float64
 8   releaseDate_month               35 non-null     float64
 9   releaseDate_year                40 non-null     int64
 10  releaseDate_country_id          40 non-null     object
 11  releaseDate_country_text        40 non-null     object
 12  plot_plotText_plainText         40 non-null     object
 13  plot_language_id                40 non-null     object
dtypes: float64(2), int64(3), object(9)
memory usage: 4.5+ KB

In [ ]:
def lambda_handler(event, context):
    # Asegurar de que el evento contenga las claves correctas
    try:
        bucket_name = event["bucket_name"]  # Accediendo a la clave 'bucket_name' del evento
        file_key = event["file_key"]  # Accediendo a la clave 'file_key' del evento
        target_bucket = "xideraljafet"  # El bucket de destino

    except KeyError as e:
        # Si falta alguna clave en el evento, devuelve un error
        return {
            'statusCode': 400,
            'body': json.dumps({"error": f"Missing key in event: {str(e)}"})
        }
    
    try:
        # Obtener el archivo desde el bucket de origen
        response = s3.get_object(Bucket=bucket_name, Key=file_key)
        csv_content = response['Body'].read().decode('utf-8')
        
        # Cargar el CSV en un DataFrame de Pandas
        df = pd.read_csv(StringIO(csv_content))
        
        # Crear un resumen con el número de filas, columnas y columnas con valores NaN
        resultado = {
            'filas': df.shape[0],
            'columnas': df.shape[1],
            'Nan': df.columns[df.isnull().any()].tolist()
        }
        
        # Guardar el archivo CSV procesado en el bucket de destino
        directory = "data_revision/"
        key_filename = directory + file_key
        s3.put_object(Bucket=target_bucket, Key=key_filename, Body=csv_content)

        # Retornar una respuesta exitosa con el resumen
        return {
            'statusCode': 200,
            'body': json.dumps({
                'resultado': resultado,
                'file_key': key_filename
            })
        }
    
    except Exception as e:
        # Si ocurre un error, devolver el mensaje de error
        print(f"Error: {e}")
        return {
            'statusCode': 500,
            'body': json.dumps({"error": str(e)})
        }